* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(11, 11, 24);
  font-size: 2em;
  padding: 2em;
  border-radius: 10px;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.7);
}

#temperatureBox {
  cursor: pointer;
}

#notificationBox {
  display: none;
}

#searchBox {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

#searchBtn {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background-color 0.1s ease-in-out;
}

#searchBtn:hover {
  background-color: orange;
}
